@import "tailwindcss";

body{
    background-color: #121212;
    color: #f5f5f5;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.linefont{
  font-family: 'Fira Code', monospace;
}